<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mock_up.Properties.Settings.Quicker_QueueConnectionString"
            connectionString="Data Source=shockwave.database.windows.net;Initial Catalog=&quot;Quicker Queue&quot;;User ID=user;Password=Mwsu1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>